{% load static %}
<style>
    .card-hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .card-hover:hover {
        transform: scale(1.05);
    }
</style>

<div class="container" data-aos="fade-up">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card card-hover border-0 shadow d-flex flex-column p-4">
                <img src="../{{ project.foto }}" class="card-img-top" alt="{{ project.title }}" style="object-fit: cover; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <p class="card-text text-muted">{{ project.category.name_of_category }}</p>
                    <a href="../../{{ project.url }}" class="btn btn-primary">Visit Project</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if projects|length == 0 %}
        <p class="text-center">Tidak ada proyek dalam kategori ini.</p>
        {% endif %}
    </div>
</div>
