<style>
  .navbar .nav-link:hover {
    transform: scale(1.1); 
    color: #2845A1 !important;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  a {
    text-decoration: none;
  }

  /* Hover efek khusus untuk tombol Contact Us */
  .btn-dark:hover {
    transform: scale(1.1); /* Memperbesar tombol */
    transition: transform 0.3s ease; /* Transisi halus */
  }

  /* Mencegah perubahan warna teks pada tombol */
  /* Jarak antar link navbar */
  .navbar-nav .nav-item {
    margin-right: 5px; /* Menambahkan jarak antar item navbar */
  }

  /* Margin setelah nama brand */
  .navbar-brand {
    margin-right: 40px; /* Menambahkan margin 40px setelah nama brand */
  }

  /* Menjaga tombol Contact Us di posisi kanan */
  .navbar-nav .nav-item:last-child {
    margin-left: auto;
  }

  .nav-link.active {
    color: #2845A1 !important; /* Warna biru untuk link aktif */
    font-weight: bold; /* Menebalkan teks link aktif */
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light" data-aos="fade-down">
  <div class="container d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="../media/profile/logo.png" width="40px" alt="">
      <h2 class="ms-2" style="color: #2845A1;">Dejitaru</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Menu navbar dengan margin antar item -->
      <ul class="navbar-nav ms-auto gap-4">
        <li class="nav-item align-self-center">
          <a class="nav-link fw-medium {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">Beranda</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link fw-medium {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">Tentang Kami</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link fw-medium {% if request.resolver_match.url_name == 'project' %}active{% endif %}" href="{% url 'project' %}">Project</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-dark py-3 px-4">
            <a class="text-white {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Hubungi Kami</a>
          </button>    
        </li>
      </ul>
    </div>
  </div>
</nav>
